  .activities {
    padding: 4rem;
  }
  
  h1 {
    text-align: center;
  }
  
  .activities-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
  }
  
  .activities-wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .activities-items {
    margin-bottom: 24px;
  }
  
  .activities-item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    background-color: white;
  }
  
  .activities-item {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }

  .activities-btn{
    border: 0px;
    color: white;
    background-color: #1f98f4;
    padding: 0.5rem 1rem;
    float: right;
    cursor: pointer;
  }

  p.activities-detail{
    text-transform: uppercase;
    font-size: 14px;
    padding: 1rem 0 0.5rem 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  h5.activities-item-text {
    text-transform: uppercase;
    color: #1f98f4;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 25px;
  }
  
  .activities-item-pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .activities-item-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .activities-item-img:hover {
    transform: scale(1.1);
  }
  
  .activities-item-info {
    padding: 20px 30px 30px;
    text-align: center;
  }
  
  .activities-item-text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }

  .activities-item-location, .activities-item-activity{
    color: #252e48;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
  }

  .activities-item-description{
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 20px;
  }


  @media only screen and (min-width: 1200px) {
    .content-blog-container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .activities-items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .activities-item {
      margin-bottom: 2rem;
    }
  }